.page__background {
    height: 100%;
    min-height: 100%;
    background-color: rgb(185,179,175);
}

.page__main-content {
    padding: 5%;
    max-width: 70%;
    max-height: 100%;
    font-family: 'PT Sans', 'Quicksand', Arial, Helvetica, sans-serif, Verdana, sans-serif;
    margin: auto;
    text-align: center;
    font-size: 18px;
    min-height: 100%;
    position: absolute;
    top: 0;
}

#result {
    margin: 2em;
}

#converterBox {
    border: 1px;
    border-style: solid;
    border-color: black;
    padding: 16, 20, 16, 24;
}

.drop-down__for-types {
    display: block;
    margin: auto; 
    margin-bottom: 24px;
    min-width: 75%;
}

.drop-down__convert-from {
    display: inline-block;
    min-width: 35%;
    margin-right: 5%;
}

.drop-down__convert-to {
    display: inline-block;
    min-width: 35%;
}

.drop-down__holder {
    display: block;
    margin: auto;
    min-width: 75%;
}

.converter-box__input-submit {
    display: block;
    margin-top: 15px;
    min-width: 75%;
}

.title {
    font-size: 32px;
    font-family:'Quicksand';
}

.title__white {
    color: rgb(255,255,255);
}

p {
    line-height: 1.4em;
    word-spacing: 0.25em;
}

#converter-box__input-submit {
    width: 100%;
    display: block;
}

#input {
    width: 60%;
    margin-top: 10px;
    display: inline-block;
}

#submit {
    width: 30%;
    display: inline-block;
}

.nav-bar__top {
    display: inline-block;
    padding: 15px;
    border-style: solid;
    margin: 0px;
    border-width: 1px;
    border-radius: 3px;
    width: 20%;
    background-color: white;
    text-align: center;
}

.link {
    text-decoration: none;
}

#nav-bar {
    background-color: rgb(97,97,97);
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    margin: 0;
}
